{% extends model('component') %}

{% define config = {
    name: 'unzer-credit-card',
    tag: 'unzer-credit-card',
} %}

{% define data = {
    publicKey: required,
    id: required,
    scriptSrc: 'https://static.unzer.com/v1/unzer.js',
} %}

{% define attributes = {
    'form-selector': '[name="paymentForm"]',
    'current-payment-method-selector': '[name="paymentForm[paymentSelection]"]:checked',
    'card-number-container-id': 'containerUnzerCardNumber',
    'card-expiry-container-id': 'containerUnzerCardExpiry',
    'card-cvc-container-id': 'containerUnzerCardCvc',
    'public-key-form-element-id': 'paymentForm_unzerCreditCard_public_key',
    'transaction-id-form-element-id': 'paymentForm_unzerCreditCard_id',
    'locale': app.locale | replace({'_': '-'}),
} %}

{% block body %}
    {% set gridClassName = 'grid' %}
    {% set cardNumberClassName = 'form__field col col--sm-12' %}
    {% set cardExpiryClassName = 'form__field col col--sm-12 col--lg-6' %}
    {% set cardCvcClassName = 'form__field col col--sm-12 col--lg-6' %}

    {% block scriptLoader %}
        {% include molecule('script-loader') with {
            class: config.jsName ~ '__script-loader',
            attributes: {
                src: data.scriptSrc,
            },
        } only %}
    {% endblock %}

    {% block formHolder %}
        <div class="{{ gridClassName }}">
            <div class="{{ cardNumberClassName }}">
                <div id="containerUnzerCardNumber">
                </div>
            </div>
            <div class="{{ cardExpiryClassName }}">
                <div id="containerUnzerCardExpiry">
                </div>
            </div>
            <div class="{{ cardCvcClassName }}">
                <div id="containerUnzerCardCvc">
                </div>
            </div>
            <div class="form__field col col--sm-12 text-alert {{ config.jsName }}__error-container"></div>
        </div>
    {% endblock %}

    {{ form_widget(data.publicKey) }}
    {{ form_widget(data.id) }}
{% endblock %}
